
@import './app.css';

@media screen and (max-width: 768px) {
    .div_btns {
        flex-direction: column !important;
    }
}

.div_btns {
    display: flex;
    flex-direction: row;
}

.btn_add {
    white-space: nowrap;
}

.table td {
    border-top: 1px solid var(--color-primary) !important;
}

.table thead {
    background: var(--color-primary);
    color: var(--color-white);
}

.table thead th {
    border-top: 1px solid var(--color-primary) !important;
    border-bottom: 1px solid var(--color-primary) !important;
}
