
@import './app.css';

.h_title {
    font-family: var(--font-bold);
    color: var(--color-primary);
    display: inline-block;
}

.btn_primary {
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 4px 12px;
    border-radius: 20px;
    text-transform: uppercase;
}

.btn_primary:hover {
    background: var(--color-secondary);
    color: var(--color-primary);
    text-decoration: none;
}

.btn {
    background: var(--color-secondary);
    color: var(--color-primary);
    border: none;
    padding: 4px 12px;
    border-radius: 20px;
    text-transform: uppercase;
}

.btn:hover {
    background: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
}
